$grid-width: 114rem;
$default-font-size: 1.6rem;

$gutter-vertical: 6rem;
$gutter-horizontal: 8rem;


$white-color: #ffffff;
$active-color: #3fc9d5;
$text-grey-color: #708096;
$grey-input-color: #435060;
$search-input-color: #4e5c6f;
$header-background-color: #2b3643;
$dashboard-background-color: #364150;