$grid-width: 114rem;

$gutter-vertical: 6rem;
$gutter-horizontal: 8rem;
$gutter-horizontal-small: 6rem;

$small-dimension: 0.3rem;

$default-font-size: 1.6rem;

$color-black: #000000;
$color-white: #ffffff;
$color-light-grey: #777777;
$color-very-light-grey: #f7f7f7;
$color-gold: rgba(212, 175, 55, 0.8 );
$color-light-black: rgba(0, 0, 0, .2);
$color-dark-gold: rgba(196, 151, 4, 0.8);
$color-light-gold: rgba(248, 237, 200, 0.8);

$gold-color: #d4af37;
$black-color: #000000;
$green-color: #23959f;
$white-color: #ffffff;
$dark-red-color: #dd4d57;
$dark-grey-color: #333333;
$light-grey-color: #777777;
$lighter-grey-color: #eeeeee;

