$color-white: #ffffff;
$color-light-grey: #777777;
$color-gold: rgba(212, 175, 55, 0.8 );
$color-light-black: rgba(0, 0, 0, .2);
$color-dark-gold: rgba(196, 151, 4, 0.8);
$color-light-gold: rgba(248, 237, 200, 0.8);