
$color-gold: #d4af37;
$color-white: #ffffff;
$color-light-gray: #777777;

*,
*::after,
*::before{
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html{
	font-size: 62.5%;
}

body{
	padding: 2rem;
	font-weight: 400;
	box-sizing: boder-box;
	color: $color-light-gray;
	background: rgba($color-white, 1);

}