.admin-body{
	&::after{
		content: '';
		clear: both;
	}
}

.dashboard{
	background: $white-color;
}

.main-dashboard{
	width: 100%;
	overflow: hidden;
	padding-bottom: 10rem;
	background: $dashboard-background-color;

	& .left-column{
		width: 22%;
		float: left;

		& ul{
			list-style: none;



			& li{
				display: block;
				padding: 1rem 1rem;
				

				& .current{
					z-index: 2;
					background: $active-color;
					clip-path: polygon(0 0, 100% 0, 100% 20%, 97% 50%, 100% 80%, 100% 100%, 0 100%);
					-moz-clip-path: polygon(0 0, 100% 0, 100% 20%, 97% 50%, 100% 80%, 100% 100%, 0 100%);
					-webkit-clip-path: polygon(0 0, 100% 0, 100% 20%, 97% 50%, 100% 80%, 100% 100%, 0 100%);
				}

				& .current-background{
					z-index: 1;
					background: $white-color;
				}
				
				&:not(:last-child){
					border-bottom: solid 1px $grey-input-color;
				}

				& a{
					width: 100%;
					display: block;
					color: $white-color;
					text-decoration: none;
				}
			}
		}

		& .menu{
			padding: 1rem;
			color: $text-grey-color;
		}
	}

	& .right-column{
		width: 76%;
		padding: 1%;
		float: left;
		background: $white-color;
	}

	&::after{
		content: '';
		clear: both;
	}	
}